<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Whitelist</title>

    <link rel="stylesheet" href="static/dist/bulma.min.css">
    <link rel="stylesheet" href="static/app.min.css">
</head>

<body>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-two-thirds-desktop is-12-mobile">
                <nav class="level">
                    <div class="level-left">
                        <h1 class="title level-item">Whitelist of {{ pack }}
                        </h1>
                    </div>
                    <div class="level-right" style="margin-top: 20px;">
                        <div class="field is-grouped level-item">
                            <nav class="level">
                                <div class="level-left">
                                    <span class="tags has-addons level-item">
                                        <span class="tag is-dark">Server Status</span>
                                        {{#if online~}}
                                        <span class="tag is-success" title="Latency {{ state.latency }}ms">Online</span>
                                        {{~else~}}
                                        <span class="tag is-danger">Offline</span>
                                        {{~/if}}
                                    </span>
                                </div>
                                <div class="level-center" style="padding-left: 8px; padding-right: 8px"></div>
                                <div class="level-right">
                                    <span class="tags has-addons level-item">
                                        <span class="tag is-dark">Raw</span>
                                        <span class="tag is-info is-small" onclick="server_info_modal_toggle()" style="cursor: pointer;">
                                            <span class="icon">
                                            <svg type="image/svg+xml" class="fas fa-w-16 fas-custom" aria-hidden="true" data-prefix="fas" data-icon="exclamation-circle" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path fill="white" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z"></path>
                                            </svg>
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </nav>
                        </div>
                    </div>
                </nav>
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>UUID</th>
                            <th>Op</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    {{#each whitelist}}
                    <tr>
                        <td>{{@index}}</td>
                        <td>{{name}}</td>
                        <td>{{uuid}}</td>
                        <td>
                            {{~#if op~}}
                            <span class="tag is-danger">Op</span>
                            {{~else~}}
                            <span class="tag is-success">User</span>
                            {{~/if~}}
                        </td>
                        <td>
                            {{~#if ../online}} {{~#if online~}}
                            <span class="tag is-success">Online</span>
                            {{~else~}}
                            <span class="tag is-danger" title="You also may appear offline due to the Server only sending a user Sample">Offline</span>
                            {{~/if}} {{~else~}}
                            <span class="tag" title="This is due to the Server being offline">Unknown</span>
                            {{~/if}}
                        </td>
                    </tr>
                    {{~/each}}
                </table>
            </div>
        </div>
    </div>

    <div class="modal" id="server_info_modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Raw response data</p>
                <button class="delete" aria-label="close" onclick="server_info_modal_toggle();"></button>
            </header>
            <section class="modal-card-body">
                <pre><code class="code">
                    {{~#if online~}}{{ raw_data }}{{~else~}}Server Unreachable, raw data not Avaliable !{{~/if~}}
                </code></pre>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-info" onclick="server_info_modal_toggle();">Close</button>
            </footer>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    Made by
                    <strong>HeapUnderflow</strong>, powered by
                    <strong>Rust &amp; Bulma</strong>
                </p>
            </div>
        </div>
    </footer>
    <script src="static/app.min.js"></script>
</body>

</html>